@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Tenor+Sans&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.container{
    background-color: #2B2B2B;
    color: white;
    padding: 80px 115px;
}
.h1{
font-weight: 600;
    font-size: 32px;
    font-family: "Libre Franklin", sans-serif;
}
.button{
    border:1px solid #A259FF;
    background-color: #2B2B2B;
    color: white;
    padding: 15px 50px;
    border-radius: 30px;
}
.box{
    display: flex;
    gap: 635px;
    margin-top: 20px;
}
.box1{
    background-color: #3B3B3B;
    padding: 30px 20px;
    border-radius: 20px;
}
.box2{
    display: flex;
    gap: 12px;
}
.box1__text{
    font-weight: 600;
    font-size: 22px;
}
.text{
    font-size: 12px;
    color: #858584;
}
.box3{
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
.box4{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}
.tex1{
    font-weight: 400;
    font-size: 16px;
}
.text3{
    font-family: "Libre Franklin", sans-serif;
    font-size: 22px;
    font-weight: 400;
}
.box5{
    border-radius: 20px;
}
.box6{
    display: flex;
    gap: 30px;
    margin-top: 60px;
}
@media screen and (max-width: 1170) {
   .box6{
       flex-direction: column;
   }
}
